@model IEnumerable<PhotoShare.Models.Photo>

@{
    ViewBag.Title = "Index";
}


<div class="latest-photos-list">
    <h2>Latest Photos (@Model.Count())</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <br />

    @foreach (var photo in Model)
    {
        @:Photo
        <div>
            <img src="@Url.Content(photo.FilePath)" width="500" height="300" />
            <br />
            <p>@photo.Description</p>
            <p>@photo.Rating / 10</p>
            <p>@Html.ActionLink("Edit", "Edit", new { id = @photo.ID })</p>
        </div>
    }

</div>
